{## 
 # Write the tree properties for MapGroup and Layers data of the map  
 # @param array  tree     An array that contents tree nodes. Children are listed in node.childs sub-array 
 # @param string treeType The tree type : ui|print 
 # @param string format   The output format : json|ows 
 # @param int    level    The level crossing. Start with 0
 # @dependencies [_self.getTreeNodeLayer, _self.getTreeNodeGroup]
 #}
{% macro getLayerTree(tree, format, level, external_context) %} {# bootstrap #}
{% spaceless %}
{% if level==0 and tree|length ==0 %} { LayerTreeNode : {attributes : {}}{% endif %}
{% if level==0 and tree|length > 1 %} [ {% endif %}
  {% for node in tree  %}
    {% if node.nodeIsLayer %}
      {{ _self.getTreeNodeLayer(node, format, level, external_context) }}
    {% else %}
      {{ _self.getTreeNodeGroup(node, format, level, external_context) }}
    {% endif %}
    {% if format|lower == "json" and not loop.last %},{% endif %}
  {% endfor %}
{% if level==0 and tree|length > 1 %} ] {% endif %}
{% if level==0 and tree|length ==0 %} } {% endif %}
{% endspaceless %}
{% endmacro %}

{## 
 # Write a MapGroup node in tree  
 # @param array  node   The node description. Children are listed in node.childs sub-array 
 # @param string treeType The tree type : ui|print 
 # @param string format The output format : json|ows 
 # @param int    level  The level crossing. Start with 0
 # @dependencies [_self.getLayerTree]
 #}
{% macro getTreeNodeGroup(node, format, level, external_context) %} {# bootstrap #}
{% spaceless %}
  {% set group = node.object %}
  {% if format|lower == "json" %}{
         "LayerTreeNode": {
            "attributes": {
              "type": "group",
              "nodeId": "{{ node.nodeId }}",
              "name": "{{ group.groupName|e('url') }}",
              {% if not group.groupIdentifier == ""  %}
              "groupIdentifier" : "{{ group.groupIdentifier }}",
              {% endif %}           
              "open": "{{ node.nodeOpened|ZERO_ONE }}",
              "expanded": {% if node.nodeOpened %}true{% else %}false{% endif %},
              "visible": "{{ node.visible|ZERO_ONE }}",
              "depth": "{{ node.nodeDepth }}",
              "opacity": "1",
              "forceOpacityControl": "1"
            }
            {% if node.childs|length > 0 %}
            , 
            "LayerTreeNode": [
              {{ _self.getLayerTree(node.childs, format, level+1, external_context) }}
            ]
            {% endif %}
         }
       }
  {% else %}
           <LayerTreeNode 
             type="group" 
             nodeId="{{ node.nodeId }}"
             name="{{ group.groupName }}"           
             open="{{ node.nodeOpened|ZERO_ONE }}"
             expanded="{% if node.nodeOpened %}true{% else %}false{% endif %}"
             visible="{{ node.visible|ZERO_ONE }}"
             depth="{{ node.nodeDepth }}"
             opacity="1"
             forceOpacityControl="1"
           >
           
    {% if node.childs|length > 0 %}
        {{ _self.getLayerTree(node.childs, format, level+1, external_context) }}
    {% endif %}
    
           </LayerTreeNode>
  {% endif %}
{% endspaceless %}
{% endmacro %}

{## 
 # Write a Layer node in tree  
 # @param array  node   The node description 
 # @param string format The output format : json|ows 
 # @param int    level  The level crossing. Start with 0
 #}
{% macro getTreeNodeLayer(node, format, level, external_context) %} {# bootstrap #}
{% spaceless %}
  {% set layer = node.object %}
  {% if format|lower == "json" %}
            {
              "attributes": {
                "type": "layer",
                "nodeId": "{{ node.nodeId|e('url') }}",
                "layerId": "{{ layer.layerId|e('url') }}",
                "layerIdx": "{{ layer.layerIdx|e('url') }}",
                "name": "{{ layer.layerTitle|e('url') }}",
                "mapName": "{{ layer.layerMsname|e('url') }}",
                "visible": "{{ layer.layerVisible|ZERO_ONE }}",
                "displayClass": "{{ layer.layerLegend|ZERO_ONE }}",
                "providerGrpId": "{{ node.nodeParent|e('url') }}",
                "depth": "{{ node.nodeDepth }}",
                "opacity": "{{ layer.layerOpacity / 100 }}",
                "forceOpacityControl": "1"
              }
            }
          
  {% else %}
           <LayerTreeNode 
             type="layer" 
             nodeId="{{ node.nodeId }}"
             layerId="{{ layer.layerId }}"
             layerIdx="{{ layer.layerIdx }}"
             name="{{ layer.layerTitle}}"
             mapName="{{ layer.layerMsname}}"
             Title ="{{ layer.layerWxsname}}"
             visible="{{ layer.layerVisible|ZERO_ONE }}"
             displayClass="{{ layer.layerLegend|ZERO_ONE }}"
             providerGrpId="{% if node.nodeParent %}{{ node.nodeParent }}{% else %}{{ node.nodeId }}{% endif %}"
             depth="{{ node.nodeDepth }}"
             opacity="{{ layer.layerOpacity / 100 }}"
             forceOpacityControl="1"
           />
  {% endif %}
{% endspaceless %}
{% endmacro %}


{## 
 # Write a Layer node in tree  
 # @param Layer  node   The node description 
 # @param string format The output format : json|ows 
 #}
{% macro writeLayer(layer, format, external_context) %} {# bootstrap #}
{% spaceless %}
  {% set layerSettings_infoFields="" %}
  {% set layerSettings_briefFields="" %}
  {% set layerSettings_ToolTipFields="" %}
  {% set firstHeader=true %}
  {% set firstQueries=true %}
  {% set firstTooltips=true %}
  
  {% for field in layer.fields %}
    {% set fieldSerialize=field.fieldName ~ "|" ~ field.fieldAlias ~ "|" ~ field.fieldTypeJs ~ "||1" %}
    
    {% if field.fieldHeaders %}
      {% if firstHeader %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstHeader=false %}
      {% set layerSettings_briefFields=layerSettings_briefFields ~ separator ~ fieldSerialize %}
    {% endif  %}
    
    {% if field.fieldQueries %}
      {% if firstQueries %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstQueries=false %}
      {% set layerSettings_infoFields=layerSettings_infoFields ~ separator ~ fieldSerialize %}
    {% endif  %}
    
    {% if field.fieldTooltips %}
      {% if firstTooltips %}{% set separator="" %}{% else %}{% set separator=";" %}{% endif %}
      {% set firstTooltips=false %}
      {% set layerSettings_ToolTipFields=layerSettings_ToolTipFields ~ separator ~ fieldSerialize %}
    {% endif  %}
    
  {% endfor %}
  {% if format|lower == "json" %}
      {
        "Title": "{{ layer.layerTitle|e('url') }}",
        "MinScaleDenominator": "{{ layer.layerMinscale }}",
        "MaxScaleDenominator": "{{ layer.layerMaxscale }}",
        "Extension": {
          "LAYER_ID": "{{ layer.layerMsname|e('url') }}",
          "LAYER_TITLE": "{{ layer.layerTitle|e('url') }}",
          "layerSettings_group": "{% if layer.group is defined %}{{ layer.group|e('url') }}{% endif %}",
          "layerSettings_order": "{% if layer.orderInGroup is defined %}{{ layer.orderInGroup }}{% endif %}",
          "layerSettings_download": "{{ layer.layerDownloadable|ON_OFF }}",
          "layerSettings_legendScaleDisplay": "{{ layer.layerLegendScale|ON_OFF }}",
          
          "layerSettings_infoFields": "{{ layerSettings_infoFields|e('url') }}",
          "layerSettings_briefFields": "{{ layerSettings_briefFields|e('url') }}",
          "layerSettings_ToolTipFields": "{{ layerSettings_ToolTipFields|e('url') }}",
          "layerSettings_queryURL": "{{ layer.layerFieldUrl|e('url') }}",
          
    {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid=="" and external_context.account.accountGeonetworkurl is not null %}
          "GEONETWORK_METADATA_ID" : "{{ layer.layerMetadataUuid }}",
          "layerSettings_Metadata": "{{ (external_context.account.accountGeonetworkurl ~ '/fre/find?uuid=' ~ layer.layerMetadataUuid)|e('url') }}",
    {% endif %}
    {% if layer.layerMetadataFile is not null  and not layer.layerMetadataFile=="" %}
          "layerSettings_MetadataFile": "{{ layer.layerMetadataFile }}",
    {% endif %}

    {% if not(layer.layerType.layerTypeCode in ['WMS', 'WFS', 'WMSC', 'WMTS']) %}
          "layerSettings_wfsStatus": "{{ layer.layerWfs|ON_OFF }}",
          "layerSettings_wmsStatus": "{{ layer.layerWms|ON_OFF }}",
          "geoide_WFS_STATUS": "{{ layer.layerWfs|ON_OFF }}",
          "geoide_WMS_STATUS": "{{ layer.layerWms|ON_OFF }}",
          "wms_name": "{{ layer.layerName|e('url') }}",
          "wms_title": "{{ layer.layerTitle|e('url') }}",
          "wfs_name": "{{ layer.layerName|e('url') }}",
          
    {% else %}
    
      {% if layer.layerType.layerTypeCode in ['WMS'] %}
          "INTERROGEABLE" : "{{ layer.layerWmsQuery|ON_OFF }}",
      {% endif %}

          "layerSettings_Tiled": "{{ (layer.layerType.layerTypeCode in ['WMSC', 'WMTS'])|ON_OFF }}",
          "wms_title" : "{{ layer.layerTitle|e('url') }}",
          
      {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
          "wms_name"   : "{{ layer.layerWxsname|e('url') }}",
          "wms_format" : "{{ layer.layerOutputformat }}",
          "wms_srs"    : "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}",
          
      {% else %}
          "wfs_name"   : "{{ layer.layerWxsname|e('url') }}",
          "wfs_format" : "{{ layer.layerOutputformat }}",
          "wfs_srs"    : "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}",
      {% endif %}
      
      {% if layer.layerType.layerTypeCode in ['WMTS'] %}
          "layerSettings_isWmts":"YES",
          "layerSettings_wmtsLayer":"ON",
          
          "wmts_wms_onlineresource" : "{{ layer.layerTiledServerUrl }}",
          "wmts_wms_layer"          : "{% if layer.layerTiledLayer is not null and not layer.layerTiledLayer=="" %}{{ layer.layerTiledLayer }}{% else %}{{ layer.layerWxsName }}{% endif %}",
          "wmts_resolutions"        : "{{ layer.layerTiledResolutions }}",
          "wmts_tileorigin"         : "{{ layer.layerWmtsTileorigin }}",
          "wmts_matrixids"          : "{{ layer.layerWmtsMatrixids }}",
          "wmts_style"              : "{{ layer.layerWmtsStyle }}",
          "wmts_tileset"            : "{{ layer.layerWmtsTileset }}",
      {%  endif %}
      
      {% if layer.layerType.layerTypeCode in ['WMSC'] %}
          "layerSettings_isWmsc":"YES",
          "layerSettings_wmscLayer":"ON",
          
          "wmsc_wms_onlineresource" : "{{ layer.layerTiledServerUrl }}",
          "wmsc_wms_layer"          : "{{ layer.layerTiledLayer }}",
          "wmsc_resolution"         : "{{ layer.layerTiledResolutions }}",
          "wmsc_boundingbox"        : "{{ layer.layerWmscBoundingbox }}",
      {%  endif %}
      
    {% endif %}
  
{#START_QUESTIONS#}
          "layerSettings_ActivThemes": "ON",
          "geoide_wms_srs": "EPSG%3A3857%20CRS%3A84%20EPSG%3A4258%20EPSG%3A4326%20EPSG%3A2154",
          "geoide_wfs_srs": "EPSG%3A3857%20CRS%3A84%20EPSG%3A4258%20EPSG%3A4326%20EPSG%3A2154",
          "geoide_gml_include_items": "all",
          "ows_include_items": "all",
          "gml_include_items": "all"
{#END_QUESTIONS#}
        },
        "SRS": {
          "attributes": {
            "EPSG": "{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}"
          }
        },
    {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
        "Server": {
          "attributes": {
            "service": "urn:ogc:serviceType:{{ layer.layerType.layerTypeCode }}",
            "version": "{{ layer.layerServerVersion }}"
          },
          "OnLineResource": {
            "attributes": {
              "type": "simple",
              "url": "{{ layer.layerServerUrl }}"
            }
          }
        },
    {% else %}
        "DataURL": {
          "OnLineResource": {
            "attributes": {
              "url": "{{ (external_context.accountUrlData ~ '/' ~ external_context.cgi_url ~ 'map=' ~ external_context.map.getFullMapfilePath()) }}"
            }
          }
        },
    {% endif %}
        "attributes": {
          "name": "{{ layer.layerMsname|e('url') }}",
          "hidden": "{{ (not layer.layerVisible)|ZERO_ONE }}",
          "queryable": "{{ (layerSettings_infoFields!="")|ZERO_ONE }}",
          "hasLabel": "{{ layer.layerHasLabel|ZERO_ONE }}"
        }
      }
  {% else %}
      <Layer 
        name="{{ layer.layerMsname }}"
        hidden="{{ (not layer.layerVisible)|ZERO_ONE }}"
        queryable="{{ (layerSettings_infoFields!="")|ZERO_ONE }}"
      >
        <Title>{{ layer.layerTitle|e('url') }}</Title>
                  
        {#for frontoffice wms call#}
        <Name>{{ layer.layerWxsname}}</Name>
        <MinScaleDenominator>{{ layer.layerMinscale }}</MinScaleDenominator>
        <MaxScaleDenominator>{{ layer.layerMaxscale }}</MaxScaleDenominator>
        <Extension>
          <LAYER_ID>{{ layer.layerIdentifier }}</LAYER_ID>
          <LAYER_TITLE>{{ layer.layerTitle|e('url') }}</LAYER_TITLE>
          <layerSettings_analyseType>{{layer.layerAnalyseType.analyseTypeCode}}</layerSettings_analyseType>
          <layerSettings_group>{% if layer.group is defined %}{{ layer.group }}{% endif %}</layerSettings_group>
          <layerSettings_order>{% if layer.orderInGroup is defined %}{{ layer.orderInGroup }}{% endif %}</layerSettings_order>
          <layerSettings_download>{{ layer.layerDownloadable|ON_OFF }}</layerSettings_download>
          <layerSettings_legendScaleDisplay>{{ layer.layerLegendScale|ON_OFF }}</layerSettings_legendScaleDisplay>
          
          <layerSettings_queryURL>{{ layer.layerFieldUrl|e('url') }}</layerSettings_queryURL>
          <layerSettings_infoFields>{{ layerSettings_infoFields|e('url') }}</layerSettings_infoFields>
          <layerSettings_briefFields>{{ layerSettings_briefFields|e('url') }}</layerSettings_briefFields>
          <layerSettings_ToolTipFields>{{ layerSettings_ToolTipFields|e('url') }}</layerSettings_ToolTipFields>
          <hasLabel>{{ layer.layerHasLabel|ZERO_ONE }}</hasLabel>
             
    {#PRIORITE AUX METADONNEES GEOSOURCE EN FRONT#}      
    {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""  and external_context.account.accountGeonetworkurl is not null %}
          <GEONETWORK_METADATA_ID>{{ layer.layerMetadataUuid }}</GEONETWORK_METADATA_ID>
          <layerSettings_Metadata>{{ external_context.account.accountGeonetworkurl}}/fre/find?uuid={{ layer.layerMetadataUuid }}</layerSettings_Metadata>
    {%else%}
      {% if layer.layerMetadataFile is not null and not layer.layerMetadataFile=="" %}
          <layerSettings_Metadata>{{ layer.layerMetadataFile }}</layerSettings_Metadata>
    {% endif %}
    {% endif %}
    
    {% if not(layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS']) %}
          <wms_title>{{ layer.layerTitle|e('url') }}</wms_title>
          <wms_name>{{ layer.layerMsName }}</wms_name>
          <wfs_name>{{ layer.layerMsName }}</wfs_name>
    {% else %}
          <layerSettings_Tiled>{{ (layer.layerType.layerTypeCode in ['WMSC', 'WMTS'])|ON_OFF }}</layerSettings_Tiled>
          <wms_title>{{ layer.layerTitle|e('url') }}</wms_title>
          <wms_layer>{{ layer.layerWxsName }}</wms_layer>
          <wms_name>{{ layer.layerWxsname }}</wms_name>
          <wms_format>{{ layer.layerOutputformat }}</wms_format>
          <wms_srs>{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}</wms_srs>
          
    {% endif %}
  
    {% if layer.layerType.layerTypeCode in ['WMTS'] %}
          <layerSettings_isWmts>YES</layerSettings_isWmts>
          <layerSettings_wmscLayer>ON</layerSettings_wmscLayer>
          
          <wmts_wms_onlineresource>{{ layer.layerTiledServerUrl }}</wmts_wms_onlineresource>
          <wmts_wms_layer>{% if layer.layerTiledLayer is not null and not layer.layerTiledLayer=="" %}{{ layer.layerTiledLayer }}{% else %}{{ layer.layerWxsName }}{% endif %}</wmts_wms_layer>
          <wmts_resolutions>{{ layer.layerTiledResolutions }}</wmts_resolutions>
          <wmts_tileorigin>{{ layer.layerWmtsTileorigin }}</wmts_tileorigin>
          <wmts_matrixids>{{ layer.layerWmtsMatrixids }}</wmts_matrixids>
          <wmts_style>{{ layer.layerWmtsStyle }}</wmts_style>
          <wmts_tileset>{{ layer.layerWmtsTileset }}</wmts_tileset>
    {%  endif %}
      
    {% if layer.layerType.layerTypeCode in ['WMSC'] %}
          <layerSettings_isWmsc>YES</layerSettings_isWmsc>
          <layerSettings_wmscLayer>ON</layerSettings_wmscLayer>
          
          <wmsc_wms_onlineresource>{{ layer.layerTiledServerUrl }}</wmsc_wms_onlineresource>
          <wmsc_wms_layer>{{ layer.layerTiledLayer }}</wmsc_wms_layer>
          <wmsc_resolution>{{ layer.layerTiledResolutions }}</wmsc_resolution>
          <wmsc_boundingbox>{{ layer.layerWmscBoundingbox }}</wmsc_boundingbox>
    {%  endif %}
{#START_QUESTIONS}
          
          <layerSettings_ActivThemes>ON</layerSettings_ActivThemes>
          <geoide_wms_srs>EPSG%3A3857%20CRS%3A84%20EPSG%3A4258%20EPSG%3A4326%20EPSG%3A2154</geoide_wms_srs>
          <geoide_wfs_srs>EPSG%3A3857%20CRS%3A84%20EPSG%3A4258%20EPSG%3A4326%20EPSG%3A2154</geoide_wfs_srs>
          <geoide_gml_include_items>all</geoide_gml_include_items>
          <ows_include_items>all</ows_include_items>
          <gml_include_items>all</gml_include_items>
          
{END_QUESTIONS#}
          
       </Extension>
       
       <SRS>{% if layer.layerProjectionEpsg is not null %}{{ layer.layerProjectionEpsg.projectionProvider }}:{{ layer.layerProjectionEpsg.projectionEpsg }}{% else %}epsg:2154{% endif %}</SRS>
    {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
       <Server version="{{ layer.layerServerVersion }}" service="urn:ogc:serviceType:{{ layer.layerType.layerTypeCode }}">
         <OnlineResource type="simple" href="{{ layer.layerServerUrl }}"/>
       </Server>
    {% else %}
       {% if layer.layerMetadataUuid is not null and not layer.layerMetadataUuid==""%}
         <DataURL>
           <OnlineResource type="simple" href="{{external_context.downloadURL}}{{layer.layerMetadataUuid}}"/>
         </DataURL>
       {% endif %}
       <Server>
         <OnlineResource type="simple" href="{{external_context.accountUrlData}}/{{external_context.cgi_url}}map={{ external_context.map.getFullMapfilePath()}}" />
       </Server>
    {% endif %}
       {% if layer.layerMetadataFile is not null and not layer.layerMetadataFile=="" %}
        <MetadataURL>
            <OnlineResource type="simple" href="{{ layer.layerMetadataFile }}" />
         </MetadataURL>
       {% endif %}
       <FormatList current="1">
            <Format>image/png</Format>
       </FormatList>
       <StyleList>
        <Style current="0">
          <Name>default</Name>
          <Title>{{layer.layerTitle}}</Title>
          <LegendURL width="20" height="10" format="jpeg">
            {% if layer.layerType.layerTypeCode in ['WMS', 'WMSC', 'WMTS'] %}
             <OnlineResource type="simple" href="{{ layer.layerServerUrl }}&amp;FORMAT=image%2Fpng&amp;SERVICE=WMS&amp;VERSION=1.1.1&amp;REQUEST=GetLegendGraphic&amp;STYLES=&amp;EXCEPTIONS=application%2Fvnd.ogc.se_xml&amp;LAYER={{ layer.layerMsName|e('url') }}"/>
            {% else %}
             <OnlineResource type="simple" href="{{external_context.accountUrlData}}/{{external_context.cgi_url}}map={{ external_context.map.getFullMapfilePath()}}&amp;FORMAT=image%2Fpng&amp;SERVICE=WMS&amp;VERSION=1.1.1&amp;REQUEST=GetLegendGraphic&amp;STYLES=&amp;EXCEPTIONS=application%2Fvnd.ogc.se_xml&amp;LAYER={{ layer.layerMsName|e('url') }}" />
            {% endif %}
          </LegendURL>
        </Style>
      </StyleList>
      </Layer>
  {% endif %}
{% endspaceless %}
{% endmacro %}
