<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate"/>
    <!-- <link rel="shortcut icon" href="./favicon.ico" />-->

    <title>Compte-rendu d'exécution de la tâche planifiée d'import des données SIG - Exécution du {{ "now"|date("d/m/Y H:i:s") }}</title>
    
    <link rel="stylesheet" href="/bundles/carmenimportdata/css/CarmenImportData.css" />
    <!--link rel="stylesheet" href="/bundles/carmenweb/js/descartes-extension/theme/extJS/descartes_full_extjs.css" /-->
    <style type="text/css">
    table {
    word-wrap: break-word;
      table-layout : fixed;
      border : 1px solid lightgrey;
      border-spacing: 0px !important;
    }
    th, td {
      border : 1px solid lightgrey;
      padding:5px !important; 
      vertical-align : top;
    }
    #resume th {
      text-align :left; 
    }
    </style>
</head>

<body>
{% macro metadata_link(GEONETWORK_URL, uuid) %}{% spaceless %}
<a href="{{ GEONETWORK_URL }}/srv/fre/catalog.search#/metadata/{{ uuid }}">{{ uuid }}</a>
{% endspaceless %}{% endmacro %}

{% macro translate_import_type(type) %}{% spaceless %}
  {% if type=="synchronisation" %}Synchronisation des métadonnées moissonnées
  {% elseif type=="automate" %}Automate d'import des données
  {% elseif type=="geocodage" %}Import automatisé de données de géocodage
  {% else %}Import différé des données
  {% endif %}
{% endspaceless %}{% endmacro %}

{% if resultat.success is defined %}{% set nb_success=resultat.success|length %}{% else %}{% set nb_success=0 %}{% endif %}
{% if resultat.failure is defined %}{% set nb_failure=resultat.failure|length %}{% else %}{% set nb_failure=0 %}{% endif %}

{% set nb_import_success=0 %}
{% set nb_import_failure=0 %}
{% if resultat.success is defined %}
  {% for tache in resultat.success %}
   {% set nb_import_success = nb_import_success + tache.imports|length %}
  {%  endfor %}
{% endif %}
{% if resultat.failure is defined %}
  {% for tache in resultat.failure %}
   {% set nb_import_failure = nb_import_failure + tache.imports|length %}
  {%  endfor %}
{% endif %}


{{ user_fullname }},

<br/><br/>
Veuillez trouver ci-après le compte-rendu d'exécution de la tâche planifiée d'import des données SIG sur les métadonnées.
<br/><br/>
Cette tâche prend en compte :
<li>les imports synchronisés configurés sur les métadonnées moissonnées,</li>
<li>les données à importer issues de l'automate de transfert de fichiers,</li>
<li>les imports différés suite à la définition des sources de données des métadonnées.</li>
<br/>
Pour résumer :
<table id="resume">
<tr><th align="left">&nbsp;</th><th align="center">Nombre de flux</th><th align="center">Nombre de données importées</th></tr>
<tr><th align="left">A réaliser</th><td align="center">{{ nb_success+nb_failure }}</td><td align="center">{{ nb_import_success+nb_import_failure }}</td></tr>
<tr><th align="left">Réussis</th><td align="center">{{ nb_success }}</td><td align="center">{{ nb_import_success }}</td></tr>
<tr><th align="left">Echoués</th><td align="center">{{ nb_failure }}</td><td align="center">{{ nb_import_failure }}</td></tr>
</table>
<br/>
Cordialement,
<br/><br/>
<i>(Merci de ne pas répondre à ce mail généré automatiquement.)</i>
<br/>

{% if nb_success>0 %}
	<h2>Succès d'import</h2>
	<table width="100%" id="success">
		<thead>
		<tr>
			<th width="200">Métadonnée(s)</th>
			<th width="100">Origine de la tâche</th>
			<th width="200">Source des données de la tâche</th>
			<th width="150">Table de l'import</th>
			<th width="200">Source de données de l'import</th>
			<th width="200">Etat de l'import</th>
		</tr>
		</thead>
		<tbody>
	  {% for tache in resultat.success %}
	  {% set rowspan=tache.imports|length %}
	  {% set nb_import_read = 0 %}
	  <tr>
	  <td rowspan="{{ rowspan }}">
	  {% spaceless %}
	  {% if tache.uuid!=tache.original_uuid %}Originale : {% endif %}{{ _self.metadata_link(GEONETWORK_URL, tache.original_uuid) }}
	  {% if tache.uuid!=tache.original_uuid %}<br/><br/>Créée : {{ _self.metadata_link(GEONETWORK_URL, tache.uuid) }}{% endif %}
	  {% endspaceless %}
	  </td>
	  <td rowspan="{{ rowspan }}">{{ _self.translate_import_type(tache.import_type) }}</td>
	  <td rowspan="{{ rowspan }}">{{ tache.import_data_type }} : {{ tache.import_data_source }}</td>
	  
	  {% for table, import in tache.imports %}
		  {% if  nb_import_read>0 %}<tr>{%  endif %}
		  
		  <td>{{ table }}{% if import.result is defined %}<br/>[#{{ import.result.pk_couche_donnees|raw }}]{% endif %}</td>
		  <td>{{ import.file_source |raw }}</td>
		  <td>{% if import.result is defined %}{{ import.result.import_status|raw }}{% endif %}</td>
		  
		  {% set nb_import_read = nb_import_read+1 %}
		  {% if  nb_import_read!=rowspan %}</tr>{%  endif %}
		  
	  {% endfor %}
	  
	  <!-- {{ tache|json_encode()|raw }} -->
	  </tr>
	  {% endfor %}
		</tbody>
	</table>
{% endif %}


{% if nb_failure>0 %}
	<h2>Echecs d'import</h2>
	<table width="100%" id="failure">
		<thead>
		<tr>
			<th width="200">Métadonnée(s)</th>
			<th width="100">Origine de la tâche</th>
			<th width="200">Source des données de la tâche</th>
			<th width="200">Source de données de l'import</th>
			<th width="200">Etat de l'import</th>
		</tr>
		</thead>
		<tbody>
	  {% for tache in resultat.failure %}
	  {% set rowspan=tache.imports|length %}
	  {% set nb_import_read = 0 %}
	  <tr>
	  <td rowspan="{{ rowspan }}">
	  {% spaceless %}
	  {% if tache.uuid!=tache.original_uuid %}Originale : {% endif %}{{ _self.metadata_link(GEONETWORK_URL, tache.original_uuid) }}
	  {% if tache.uuid!=tache.original_uuid %}<br/><br/>Créée : {{ _self.metadata_link(GEONETWORK_URL, tache.uuid) }}{% endif %}
	  {% endspaceless %}
	  </td>
	  <td rowspan="{{ rowspan }}">{{ _self.translate_import_type(tache.import_type) }}</td>
	  <td rowspan="{{ rowspan }}">{{ tache.import_data_type }} : {{ tache.import_data_source }}</td>
	  
	  {% for table, import in tache.imports %}
		  {% if  nb_import_read>0 %}<tr>{%  endif %}
		  
		  <td>{{ table }}</td>
		  <td>{{ import.result.import_status|raw }}</td>
		  
		  {% set nb_import_read = nb_import_read+1 %}
		  {% if  nb_import_read!=rowspan %}</tr>{%  endif %}
		  
	  {% endfor %}
	  
	  <!-- {{ tache|json_encode()|raw }} -->
	  </tr>
	  {% endfor %}
		</tbody>
	</table>
{% endif %}

</body>
</html>