<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="robots" content="INDEX, NO FOLLOW" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <!-- <link rel="shortcut icon" href="./favicon.ico" />-->

    <title></title>
    <!-- FA -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!--link href="vendor/ext-5.0.1-gpl/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/-->
    <!--link href="vendor/OpenLayers-2.12/theme/default/style.css" rel="stylesheet"/-->

    <link href="/js/ext-5.0.1/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet"/>
    
    <link href="/js/OpenLayers-2.12/theme/default/style.css" rel="stylesheet"/>
    <link href="/css/consultation.css" rel="stylesheet"/>
    {% if overloadExtTheme != "" %}
       <link href="/css/extjsOverload/{{overloadExtTheme}}.css" rel="stylesheet"/>
    {% endif %}
    <link href="/css/icomoon/style.css" rel="stylesheet"/>
    <!-- link href="/bundles/prodigefrontcartoweb/css/font-alkante/font-alkante.css" rel="stylesheet"/-->
    
    
  
    {% if app.environment == 'dev' %}
    <script type="text/JavaScript" src="/js/ext-5.0.1/build/ext-all-debug.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='dev';</script>
    {% else %}
    <script type="text/JavaScript" src="/js/ext-5.0.1/build/ext-all.js"></script>
    <script type="text/javascript">ENVIRONNEMENT='prod';</script>
    {%  endif %}
    <!-- theme specific js-->
    <script type="text/javascript" src="/js/ext-5.0.1/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
    <script type="text/javascript" src="/js/ext-5.0.1/packages/ext-locale/build/ext-locale-fr.js"></script>
    <!--script src="/IHM/JavaScript/OpenLayers-2.12/lib/OpenLayers.js"></script-->  
    <script src="/js/OpenLayers-2.12/OpenLayers.js"></script>
    <script src="/js/ole/lib/loader.js"> </script>
    <script src="/js/proj4js/lib/proj4js-compressed.js"></script> 
    
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    
    <!-- ext 4/5 -->
    <script type='text/javascript'>
      var Ext = Ext || {};
      Ext.manifest = { 
        //compatibility: { ext: '4.2' }
      };

      function objectToGlobalVars(object){
        for (var varname in object){
          eval(varname+' = object[varname];');
          
        }
      }
    </script>
    
    <script type='text/javascript'>
      objectToGlobalVars( {{ CARMEN_CONFIG|json_encode()|raw }} );
    </script>  
    <!-- Carmen specifics include libraries -->
    {#% if app.environment == 'dev' %#}
    <script type="text/JavaScript" src="/js/CarmenJS/Carmen.js"></script>
    {#% else %}
    <script type="text/JavaScript" src="/bundles/prodigefrontcartoweb/js/C/build/carmen_carto.js"></script>
    {% endif %#}
    
    <script type="text/javascript">
      objectToGlobalVars( {{ CARMEN_PARAMS|json_encode()|raw }} );
      var _user =  {{ user|raw  }};
      if (typeof(console)!="undefined") 
        console.log(jsOws.ViewContext);

      var BROADCAST = {{ BROADCAST|json_encode()|raw }};
      var urls = []; var requiredConnection = [];
      Ext.iterate(BROADCAST, function(url, required){urls.push(url); requiredConnection.push(required);});
      
      var ln = urls.length;
      
      
      
      var initRightsApp = function(){

        Ext.data.JsonP.request({
          url: PRODIGE_VERIFY_RIGHTS_URL+'?'+PRODIGE_VERIFY_RIGHTS_URL_PARAMS,
  
          method: 'GET',
          success : function (response) { 
             //response = Ext.decode(response.responseText);
            user_connected_details = response;

            if(response.NAVIGATION){
               {% if VERIFY_RIGHTS %}
               if(typeof(response.RESTRICTION_TERRITORIALE)!="undefined" && response.RESTRICTION_TERRITORIALE  && typeof(response.fmeta_id)!="undefined"){
                  window.location.href='{{ CARMEN_CONFIG.CARMEN_URL_CATALOGUE}}/geosource/consultationWMS?IDT='+response.fmeta_id
                                       +'{{ getExtraParams|raw}}';
               }else{
                  if(typeof(response.carte_nom)!="undefined" && typeof(response.fmeta_id)!="undefined"){
                      Ext.onReady( function() {
                        Ext.data.JsonP.request({
                          url: '{{ path('prodige_add_log') }}',
                          method: 'GET',
                          params: {'logFile':'ConsultationCarte', 'objectName' :response.carte_nom.replace('"', '""')+"\",\""+response.fmeta_id},
                          success : function (response) {
                            init();
                          },
                          failure: function (response) {
                            clearLoading();
                            Ext.Msg.alert('Echec', 'Ecriture dans les logs');
                          }
                        });
                      });
                  }else{
                    Ext.onReady(function() {init();});
                  }
               }
               {% else %}
                  Ext.onReady(function() {init();});
               {% endif %}  
             }else{
               {% if VERIFY_RIGHTS %}
                 if(response.isConnected){            
                  clearLoading();
                  Ext.Msg.alert('Echec', 'Vous ne disposez pas de droits suffisants');
                 }else{// redirection vers page connexion 
                  clearLoading();
                  Ext.Msg.alert('Echec', 'Veuillez vous reconnecter');
                 }
                {% else %}
                  Ext.onReady(function() {init();});
                {% endif %}  
             
             }
          },
          failure: function (response) {
            clearLoading();
            Ext.Msg.alert('Echec', 'La vérification des droits a échoué');
          }
        });
      }; 

      var onSiteConnect = function(json, casuser){
        var i = json.index;
        if ( i<ln ){
          if ( requiredConnection[i] && casuser==PRO_USER_INTERNET_USR_ID ) {
            onSiteConnect(Ext.apply(json, {index : ++i}), casuser);
            return;
          }
          
          Ext.data.JsonP.request({
            async : false,
            cors: true,
            withCredentials: true,
        		url : eval(urls[i])+'/prodige/connect?casuser='+casuser+'&index='+i+(json.sessionid ? '&sessionid='+json.sessionid : ''),
        		success : function(data){
            	onSiteConnect({index : ++i}, casuser);
            }
        	});
        } else {
          initRightsApp();
        }
      };
      var connectUser = function(casuser){
        if ( casuser ){
          var i = 0;
          if ( i<ln ){
            if ( requiredConnection[i] && casuser==PRO_USER_INTERNET_USR_ID ) {
              onSiteConnect({index : ++i}, casuser);
              return;
            }
          	onSiteConnect({index : i}, casuser);
          } else {
            initRightsApp();
          }
        }
      }
      
      Ext.onReady( function() {
        connectUser((_user ? _user.id  : "") || PRO_USER_INTERNET_USR_ID);
        //Ext.Ajax.request({
      });
      
      /* Module d'import de données locales */
      function addLocalDataScripts(callback)
      {
        var urls = [
          "{{ CARMEN_CONFIG.CARMEN_URL_ADMINCARTO|replace({'/app_dev.php':''}) }}/bundles/carmenimportdata/css/CarmenImportData.css",
          "{{ CARMEN_CONFIG.CARMEN_URL_ADMINCARTO|replace({'/app_dev.php':''}) }}/bundles/carmenweb/js/CarmenJS/Carmen/Ext/FileBrowser/css/FileBrowser.css",
        ];
        var h = document.getElementsByTagName("head").length ? 
            document.getElementsByTagName("head")[0] : 
            document.body;
        for(var i=0; i<urls.length; i++){
          var url = urls[i];
          if ( url.indexOf('.css')!=-1 ){
            var s = document.createElement("link");
            s.async = false;
            s.rel = "stylesheet";
            s.href = url;
            h.appendChild(s);
          }
        }

        Ext.Loader.setPath({
          'CarmenImportConfiguratorForm' : String((window.CARMEN_URL_ADMIN_CARTO || window.CARMEN_URL_ADMINCARTO || '')).replace('/app_dev.php', '')+'/bundles/carmenimportdata/js/CarmenImportConfigurator.js',
        });
        Ext.require('CarmenImportConfiguratorForm', callback);
      }
    </script>  
     
  </head>
  
  <body>
    <!-- Display Loading mask -->
    <div id="loading-mask" class="loading-mask"></div>
    <div id="loading" class="loading">
      <div class="loading-indicator">
        <div style="padding-top: 4px;">Chargement en cours</div>
      </div>
    </div>
   
    <!-- Misc content -->
    <div id="main">
      <div id="toolbar"></div>
      <div id="navigation"></div>
      <div id="bandeau"></div>
      <div id="legend"></div>
    </div>
    <iframe id="donwloadIframe" name="donwloadIframe" width="0" height="0" frameborder="0"></iframe>
  </body>
</html>