<!DOCTYPE html>
<html>
    <head>
        <title>Mise à jour de Prodige</title>
    </head>
    <body>
        <p>Prodige, le progiciel de mise en œuvre de votre plateforme de diffusion de données géographiques a été mis à jour.</p>
        <p>Le système de gestion des mots de passe a évolué pour augmenter la sécurité.</p>
        <p>Vos nouveaux paramètres de connexion sont les suivants :</p>
            <ul>
                <li>Identifiant : {{ identifiant }}</li>
                <li><a href="{{ url }}">Cliquez sur ce lien pour modifier votre mot de passe</a></li>
            </ul>
        <p>Si vous n’effectuez pas cette opération, votre mot de passe sera verrouillé.<br/>Vous pourrez de nouveau accéder à la plateforme en demandant un nouveau mot de passe via la fonction « mot de passe oublié ».</p>
        <p>Bien cordialement</p>
        <p>L’équipe de la plateforme</p>
    </body>
</html>