<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> Téléchargement de données </title>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <!-- IE specific : forcing IE9 Document model because ext 3.0 incompatibility with IE10 -->
  <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=9"/>
  <link rel="stylesheet" type="text/css" href="/Scripts/ext3.0/resources/css/ext-all.css">
  {% if PRO_CSS_FILE != "" %}
      <link rel="stylesheet" type="text/css" href="{{ PRO_CSS_FILE }}" />
  {% endif %}

  <!-- Repositionnement du bouton [+]/[-] de l'accordéon et augmentation de la taille de la police -->
  <style type="text/css">
    .x-tool {
      float: left;
      margin-right: 4px;
    }
    .x-panel-header-text {
      font-size: 14px;
    }
  </style>
  <link rel='stylesheet' type='text/css' href="/bundles/geosource/css/panier/download.css">

  <!-- <script type="text/javascript" src="/Scripts/download_parametrage.js"> </script> -->
  <script type="text/javascript" src="/Scripts/ext3.0/adapter/ext/ext-base.js"> </script>
  <script type="text/javascript" src="/Scripts/ext3.0/ext-all-debug.js"> </script>
  <script type="text/javascript" src="/Scripts/ext3.0/miframe.js"> </script>
  <script type="text/javascript" src="/Scripts/extjs_overload.js"> </script>
  <script type="text/javascript" src="/Scripts/extjs_functions.js"> </script>
  <script type="text/javascript" src="/Scripts/IHM.js"> </script>
  <script type="text/javascript" src="/Scripts/util.js"> </script>
  <script type="text/javascript" src="/Scripts/territoire.js"> </script>
  <script type="text/javascript" src="/Scripts/donnees.js"> </script>
  <script type="text/javascript" src="/Scripts/download.js"> </script>
  <script type="text/javascript" src="/Scripts/modeles.js"> </script>

  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"> </script>
  <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"> </script>

  <script>

    var timout_tele_direct = {{ PRO_TIMEOUT_TELE_DIRECT }};

    var url_srv_tele = '{{ url_srv_tele }}',
    // paste SRV urls and service_idx in js var
    URL_SVR_FRONT = '{{ URL_SVR_FRONT }}',
    const_serveurCarto = '{{ 'http://' ~ const_serveurCarto }}',
    URL_SVR_ADMIN = '{{ URL_SVR_ADMIN }}',
    ACCS_SERVICE_ADMIN = '{{ ACCS_SERVICE_ADMIN }}',
    URL_SVR_CATALOGUE = '{{ URL_SVR_CATALOGUE }}',
    IDX = '{{ IDX }}',

    // paste ecwLimit in js var
    ecwLimit = '{{ ecwAreaLimit }}',
    gTiffLimit = '{{ gTiffAreaLimit }}',
    areaLimit = null;

    // configuration du service des territoires
    var configTerritoire = {
    providerUrl: '{{ providerUrl }}',
    providerBaseParams: { 
      tablename : 'prodige_download_param',
      service_idx : '{{ service_idx }}'
    },
    table_cb_id: '{{ table_cb_id }}'
    };

    function getSelectText(idSelect) {
        if(Ext.getCmp(idSelect))
         return Ext.getCmp(idSelect).lastSelectionText.replace(",","-");
        return "";
    }

  /**
   * return l'élément div associé au serveur n° idSrv et au suffix 
   * ('vector','raster' ou 'magic')
   *
   */
    function getElementByIdSrvSuffix(idSrv, suffix) {
        return document.getElementById("D_" + idSrv + "_TO_" + suffix);
    }

  /**
   * Enregistrement d'un log de téléchargement d'une donnée
   * @param metadataName
   * @return
   */
    function metadataLog(dataName) {
        var iframe = this;
        iframe.tabParams = new Array(dataName);
        var ajaxUrl = parent.IHM_getBaseUrl();
        ajaxUrl = Routing.generate('prodige_add_log', {'logFile' : 'Telechargements', 'objectName' :dataName});
        iframe.onSuccess = function() {};
        parent.AjaxRequest(ajaxUrl, {}, iframe);
    }

  //////////////////////////////////////////////////////////////////////
  // fonctions generiques de traitements des réponses de telechargement
  //////////////////////////////////////////////////////////////////////   

    function telecharger_success(result, infoDownload) {
        var divElt = getElementByIdSrvSuffix(infoDownload.idSrv, infoDownload.suffix);

        if(result.responseObject['success']) {
            // log des telechargements > telecarto
            /*for(var i=0; i<infoDownload.infoLayers.length; i++) {
                var infoLayer = infoDownload.infoLayers[i];
                try {
                 metadataLog(doublequote(infoLayer.name)+"\",\""+doublequote(infoLayer.id)+"\",\""+ doublequote(infoLayer.server)+"\",\""+ doublequote(getSelectText("SELECT_FORMAT_"+infoDownload.suffix)) +"\",\""+ doublequote(getSelectText("SELECT_PROJ_"+infoDownload.suffix)) );
                }catch(e) {
                  //
                }
            }*/
            if(divElt) 
              divElt.innerHTML = "Le traitement est terminé. <a href=\"" + result.responseObject['data'] + "\">Télécharger</a>";
            setTimeout(function(){
              document.location.href = result.responseObject['data'];
            }, 2000);
        }
        else {
            Ext.Msg.alert("Téléchargement direct", "Impossible d'exécuter le téléchargement direct : " + result.responseObject['msg']);
            if(divElt) 
              divElt.innerHTML = result.responseObject['msg'];
        }
        Ext.Ajax.timeout = 30000; // reset timeout to default
    }

    function telecharger_failure(result, infoDownload) {
        var divElt = getElementByIdSrvSuffix(infoDownload.idSrv, infoDownload.suffix);
        Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement direct, le serveur ne répond pas. Il est possible que le traitement soit trop long, si c'est le cas il est préférable d'effectuer un téléchargement différé.");
        if(divElt) 
          divElt.innerHTML = "Erreur du serveur de téléchargement";

        Ext.Ajax.abortAll();
        Ext.Ajax.timeout = 30000; // reset timeout to default
    }

    function telecharger_delayed_success(result, infoDownload) {
        var divElt = getElementByIdSrvSuffix(infoDownload.idSrv, infoDownload.suffix);
        if(result.responseObject['success']) {
            // log des telechargements > telecarto
            /*for(var i=0; i<infoDownload.infoLayers.length; i++) {
                var infoLayer = infoDownload.infoLayers[i];
                metadataLog(doublequote(infoLayer.name)+"\",\""+doublequote(infoLayer.id)+"\",\""+doublequote(infoLayer.server)+"\",\""+ doublequote(getSelectText("SELECT_FORMAT_"+infoDownload.suffix)) +"\",\""+ doublequote(getSelectText("SELECT_PROJ_"+infoDownload.suffix)));
            }*/
            Ext.Msg.alert("Téléchargement différé", result.responseObject['msg'] + " Vous serez averti(e) par email quand le traitement des données sera terminé.");
        }
        else
            Ext.Msg.alert("Téléchargement différé", "Impossible d'exécuter le téléchargement différé : " + result.responseObject['msg']);

        if(divElt)
            divElt.innerHTML = result.responseObject['msg'];
    }

    function telecharger_delayed_failure(result, infoDownload) {
        Ext.Msg.alert("Serveur de téléchargement", "Impossible d'exécuter le téléchargement différé, le serveur ne répond pas.");
        var divElt = getElementByIdSrvSuffix(infoDownload.idSrv, infoDownload.suffix);
        if(divElt)
          divElt.innerHTML = "Erreur du serveur de téléchargement";
    }

    function doublequote(text) {
    console.log(text);
        return text.replace('"', '""');
    }

   </script>

  </head>

<body onload="if(self==top) {document.getElementById('goBack').style.display='none';if(document.getElementById('goBack2') != null) {document.getElementById('goBack2').style.display='none';}}else{parent.IHM_historique_add(window.location);parent.IHM_Chargement_stop();}">
    <div class="titre">
      <h2> Téléchargement des données du panier </h2>
    </div>
    <div id='CARTE_DIV'> </div>
    <div class="toolbar">
        <div class="button back">
            <input id ="goBack" type="Button" value="Retour" onclick="parent.IHM_historique_goBack()"> </input>
        </div>
    </div>

    {% if "empty_template" in template_name %}
        <div style="float:left;width:100%;text-align:center">
            <span align="center">
                <b> <i> Le panier ne contient aucune couche que vous puissiez télécharger ! </i> </b>
            </span>
            <br/>
            <br/>
            <input id ="goBack2"  type="Button" value="Retour"	onclick="parent.IHM_historique_goBack()">
        </div>
    {% else %}
        {% if "panierDownloadFrontal_parametrage_vector_template" in template_name %}
            <div id="downloadBlock_tab" style="clear:both"> </div>
            {{ render(controller('GeosourceBundle:PanierDownloadFrontalParametrageVector:catalogue_geosource_panierDownloadFrontalParametrageVector', {'tabTablename_vector': tabTablename_vector, 'service_idx': service_idx, 'userEmail': userEmail, 'strMetadataId_vector': strMetadataId_vector, 'tabCoucheName_vector': tabCoucheName_vector, 'tabMetadataId_vector': tabMetadataId_vector, 'tabRestrictTerr': tabRestrictTerr, 'm_Idts_table': m_Idts_table, 'm_Idts_vector': m_Idts_vector, 'check_extract_territoire': check_extract_territoire, 'table_cb_id': table_cb_id, 'extract_tolerance': extract_tolerance, 'm_serveur': m_serveur })) }}
        {% endif %}
        {% if "panierDownloadFrontal_parametrage_raster_template" in template_name %}
            <div id="downloadBlock_tab" style="clear:both"> </div>
            {{ render(controller('GeosourceBundle:PanierDownloadFrontalParametrageRaster:catalogue_geosource_panierDownloadFrontalParametrageRaster', {'service_idx': service_idx, 'userEmail': userEmail, 'strData_raster': strData_raster, 'strMetadataId_raster': strMetadataId_raster, 'tabCoucheName_raster':tabCoucheName_raster, "raster_format": raster_format, 'is_raster_hr': is_raster_hr, 'raster_srid': raster_srid, 'm_Idts_raster': m_Idts_raster,'extract_tolerance': extract_tolerance, 'm_serveur': m_serveur })) }}
        {% endif %}
        {% if "panierDownloadFrontal_parametrage_magic_template" in template_name %}
            <div id="downloadBlock_tab" style="clear:both"> </div>
            {{ render(controller('GeosourceBundle:PanierDownloadFrontalParametrageMagic:catalogue_geosource_panierDownloadFrontalParametrageMagic', {'m_Idts_majic': m_Idts_majic, 'service_idx': service_idx, 'userId': userId, 'userEmail': userEmail, 'strMetadataId_majic': strMetadataId_majic, 'tabCoucheName_majic': tabCoucheName_majic, 'm_serveurs': m_serveurs})) }}
        {% endif %}
        {% if "panierDownloadFrontal_parametrage_table_template" in template_name %}
            <div id="downloadBlock_tab" style="clear:both"> </div>
            {{ render(controller('GeosourceBundle:PanierDownloadFrontalParametrageTable:catalogue_geosource_panierDownloadFrontalParametrageTable', {'service_idx': service_idx, 'userEmail': userEmail, 'strTablename_table': strTablename_table, 'strMetadataId_table': strMetadataId_table, 'tabCoucheName_table': tabCoucheName_table, 'm_Idts_table': m_Idts_table, 'm_serveur': m_serveur })) }}
        {% endif %}
        {% if "panierDownloadFrontal_parametrage_distant_template" in template_name %}
            <div id="downloadBlock_tab" style="clear:both"> </div>
            {{ render(controller('GeosourceBundle:PanierDownloadFrontalParametrageDistant:catalogue_geosource_panierDownloadFrontalParametrageDistant', {'m_Idts_distant': m_Idts_distant })) }}
        {% endif %}
    {% endif %}

    <div align="right"> <iframe name="footerExec" height="0" width="0" frameborder="0"></iframe> </div>

  </body>

</html>
 

